
/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: auto;
}

ul, li, p, h1, h2, h3, h4, h5, h6, form {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
.cf:after { 
  clear: both;
  content: "";
  display: block;
}
.card {
  width: calc(50% - 40px);
  margin: 20px;
  box-shadow: 1px 1px 10px #555;

}
.content {
  height: calc(75% - 30px);
  padding: 15px;
}
.content h1 {
  font-size: 3em;
}

.content h2 {
  font-size: 2.5em;
  color: #555;
  text-transform: capitalize;
  font-weight: 200;
}

.content h1,
.content h2 {
  margin: 10px 0;
}

.buttons {
  height: calc(25% - 30px);
  padding: 15px 15px 15px 30px;
  border-top: 1px solid #555;
  position: relative;
}

.buttons a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  position: relative;
  top: 50%;
  cursor: pointer;
}

.buttons a:last-child {
  margin-left: 20px;
  color: orange;
}


/* Book Styles */
.book {
  float: left;
}

.book__image {
  float:left;
  width: 30%;
  height: 100%;
}

.book__image img {
  max-width: 100%;
}

.book__info {
  height: 135px;
}

.book__text {
  float: left;
  width: 70%;
  height: 100%;
}

.book__buttons {
  height: 75px;
}

/* Article Styles */ 

.article {
  height: 400px;
  float: right;
}

.article img {
  width: 100%;
  height: 100%;
}
.article__image {
  position: relative;
  height: 45%;
}
.article__image h1 {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 2em;
  left: 50%;
  transform: translateX(-50%);
}

.article__text {
  height: 55%;
}

/* Welcome Message Styles */
#welcome {
  height: 300px;
}

#welcome h1 {
  color: #dc1e6a;
}

#welcome p {
  font-size: 1.75em;
  margin: 0;
}

/* Form Styles */

.form-group {
  display: block;
  padding: 10px;
}

.form-group {
  font-size: 1.5em;
}

.form-group input {
  display: block;
  width: 50%;
  height: 20px;
  padding: 10px;
  margin-top: 10px;
}

input[type='submit'] {
  padding: 10px;
  margin: 20px 15px;
  font-size: 2em;
  color: pink;
  font-weight: bold;
  box-shadow: 1px 1px 10px #bbb;
}

input.error {
  border-color: rgba(255, 0, 0, .5);
  box-shadow: 1px 1px 15px red;
}

/* Navbar Styles */

#main-nav {
  box-shadow: 0px 0px 6px #bbb;
}


.nav-icon {
  height: 45px;
  width: 45px;
  transform: translateY(50%);
  background: url('../icons/ic_menu_24px.svg') no-repeat;
  background-size: 45px;
  float: left;
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
.nav-icon.close {
  background: url('../icons/ic_close_24px.svg') no-repeat;
  background-size: 45px;
}


#main-nav h1 {
  background: #dc1e6a;
  color: white;
  height: 50px;
  margin: 0;
  font-size: 2.5em;
  padding: 20px;
  font-weight: 200;
}

#main-nav ul {
  list-style: none;
  position: relative;
  
}

#main-nav ul.visible {
  display: block;
}

#main-nav li {
  float: left;
  margin-right: 50px;
  padding: 15px 20px;


}

#main-nav a {
  font-size: 2em;
  text-transform: capitalize;
  color: black;
  display: block;
  cursor: pointer;
  font-weight: 200;
}

@media (min-width: 900px) and (max-width: 1250px) {
  .content h1 {
    font-size: 2em;
  }

  .content h2 {
    font-size: 1.5em;
  }

  .buttons a {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .nav-icon {
    display: block;
  }

  #main-nav ul {
    display: none;
  }

  #main-nav li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #bbb;
  }

  #main-nav li:hover {
    background: #eee;
  }

  #main-nav li:last-child {
    border: none;
  }

  .card {
    width: 100%;
    min-width: 700px;
  }

  .book {
    float: none;
  }

  .article {
    float: none;
  }

}
